In [ ]:
from prettytable import PrettyTable


myTable1 = PrettyTable(["Senin"]) 
myTable2 = PrettyTable(["Selasa"])
myTable3 = PrettyTable(["Rabu"])
myTable4 = PrettyTable(["Kamis"])
myTable5 = PrettyTable(["Jumat"])
myTable6 = PrettyTable(["Sabtu"])
myTable7 = PrettyTable(["Minggu"])

k = ['Asep','Jaka','Gio', 'Mila']
karyawan = ['Asep','Jaka','Gio', 'Mila']

myTable1.add_row([karyawan])
myTable2.add_row([karyawan])
myTable3.add_row([karyawan]) 
myTable4.add_row([karyawan]) 
myTable5.add_row([karyawan]) 
myTable6.add_row(["LIBUR"]) 
myTable7.add_row(["LIBUR"]) 

print('KARYAWAN YANG BEKERJA PADA HARI')
print(myTable1)
print('Karyawan yang Istirahat di Rumah :', karyawan.pop(0))
print('KARYAWAN YANG BEKERJA PADA HARI')
print(myTable2)
karyawan.append(k[0])
print('Karyawan yang Istirahat di Rumah :', karyawan.pop(0))
print('KARYAWAN YANG BEKERJA PADA HARI')
print(myTable3)
karyawan.append(k[1])
print('Karyawan yang Istirahat di Rumah :', karyawan.pop(0))
print('KARYAWAN YANG BEKERJA PADA HARI')
print(myTable4)
karyawan.append(k[2])
print('Karyawan yang Istirahat di Rumah :', karyawan.pop(0))
print('KARYAWAN YANG BEKERJA PADA HARI')
print(myTable5)
print(myTable6)
print(myTable7)

KARYAWAN YANG BEKERJA PADA HARI
+---------------------------------+
|              Senin              |
+---------------------------------+
| ['Asep', 'Jaka', 'Gio', 'Mila'] |
+---------------------------------+
Karyawan yang Istirahat di Rumah : Asep
KARYAWAN YANG BEKERJA PADA HARI
+-------------------------+
|          Selasa         |
+-------------------------+
| ['Jaka', 'Gio', 'Mila'] |
+-------------------------+
Karyawan yang Istirahat di Rumah : Jaka
KARYAWAN YANG BEKERJA PADA HARI
+-------------------------+
|           Rabu          |
+-------------------------+
| ['Gio', 'Mila', 'Asep'] |
+-------------------------+
Karyawan yang Istirahat di Rumah : Gio
KARYAWAN YANG BEKERJA PADA HARI
+--------------------------+
|          Kamis           |
+--------------------------+
| ['Mila', 'Asep', 'Jaka'] |
+--------------------------+
Karyawan yang Istirahat di Rumah : Mila
KARYAWAN YANG BEKERJA PADA HARI
+-------------------------+
|          Jumat          |
+-------------------------+
| ['Asep', 'Jaka', 'Gio'] |
+-------------------------+
+-------+
| Sabtu |
+-------+
| LIBUR |
+-------+
+--------+
| Minggu |
+--------+
| LIBUR  |
+--------+

 Buatlah *job scheduling* dari 4 karyawan. Dimana pada hari senin semuanya bekerja, pada hari selasa-jumat libur 1 orang yang berbeda, dan pada hari sabtu-minggu semuanya libur. Misalkan saja, nama karyawannya itu bernama Asep, Mila, Gio, dan Jaka.

Seorang Mahasiswa jurusan Matematika UI ingin membuat jadwal mata kuliah dengan menggunakan konsep pada Queue. Mata kuliahnya antara lain Persamaan Differensial Biasa, Kalkulus 3, Analisis 1, Pemrograman Matematika, dan Struktur Data berturut-turut dari Senin hingga Jumat. Buatlah tabel jadwal mata kuliah mahasiswa tersebut

In [ ]:
from prettytable import PrettyTable

matkul = []

matkul.append('Persamaan Differensial Biasa')
matkul.append('Kalkulus 3')
matkul.append('Analisis 1')
matkul.append('Pemrograman Matematika')
matkul.append('Struktur Data')

myTable = PrettyTable(["Senin", "Selasa", "Rabu", "Kamis", "Jumat"])

myTable.add_row([matkul.pop(0), "", "", "", ""])
myTable.add_row([ "", matkul.pop(0), "", "", ""])
myTable.add_row([ "", "", matkul.pop(0), "", ""])
myTable.add_row([ "", "", "", matkul.pop(0), ""])
myTable.add_row([ "", "", "", "", matkul.pop(0)])

print('---------------------------------------------------JADWAL KULIAH---------------------------------------')
print(myTable)

---------------------------------------------------JADWAL KULIAH---------------------------------------
+------------------------------+------------+------------+------------------------+---------------+
|            Senin             |   Selasa   |    Rabu    |         Kamis          |     Jumat     |
+------------------------------+------------+------------+------------------------+---------------+
| Persamaan Differensial Biasa |            |            |                        |               |
|                              | Kalkulus 3 |            |                        |               |
|                              |            | Analisis 1 |                        |               |
|                              |            |            | Pemrograman Matematika |               |
|                              |            |            |                        | Struktur Data |
+------------------------------+------------+------------+------------------------+---------------+