# **Python Introduction**

## Sintaks Dasar

Berikut merupakan beberapa contoh dari sintaks Python

In [ ]:
# Menggunakan tanda '#' untuk komentar
print("Hello World!!!")

In [ ]:
a = 2 # memasukkan nilai kedalam variabel a
print(a) # tunjukkan nilai di dalam variabel

2

In [ ]:
b = input("Masukkan sebarang angka: ")
print("Nilai b adalah",b)
print("Nilai b adalah %s" %b)

Masukkan sebarang angka: 10
Nilai b adalah 10
Nilai b adalah 10

In [ ]:
c = a + int(b) # beberapa operasi aritmatika lainnya: -, *, /, %
c

12

In [ ]:
text = "Python" 
text.lower() # Transformasi teks menjadi Lowercase

#dir(text)

'python'

# Tipe dan Struktur Data pada Python
Untuk mengecek tipe data dari suatu objek bisa menggunakan fungsi ```type()```

## Tipe Data Integer

In [ ]:
x = 7 
print(x)
type(x) # int atau Integer (bilangan bulat)

7

int

## Tipe Data Float

In [ ]:
nilai_float = 7.99999999
print(round(nilai_float,3))
type(nilai_float) # float

7.12

float

## Tipe Data String

In [ ]:
y2 = 'p"ython'
print(y2)
type(y2)

p"ython

str

## Tipe Data Boolean

In [ ]:
false = "Salah"
nilai_boolean = False # bisa juga False
print(nilai_boolean)
type(nilai_boolean) # bool or Boolean

False

bool

## Struktur Data List

In [ ]:
objek_list = [1,2,3,4,5,5]
print(objek_list)
type(objek_list)

[1, 2, 3, 4, 5, 5]

list

In [ ]:
bag = ["harga-1","harga-2","harga-3","harga-2"]
print(bag)
type(bag)

['harga-1', 'harga-2', 'harga-3', 'harga-2']

list

## Struktur Data Tuple

In [ ]:
objek_tuple = (1,2,3,4,5,5)
print(objek_tuple)
type(objek_tuple) # Tuple

(1, 2, 3, 4, 5, 5)

tuple

## Struktur Data Set

In [ ]:
objek_set = {1,2,3,4,5,5}
print(objek_set)
type(objek_set) # Set

{1, 2, 3, 4, 5}

set

## Struktur Data Dictionary

In [ ]:
objek_dictionary = {"id": 65555, "Name": "Hadi", "Skill":["jago statistik","jago coding"],"child":{}}
print(objek_dictionary)
type(objek_dictionary) # dict atau Dictionary

65555

int

# Operasi Matematika di Python

In [ ]:
a = 100 # assignment

In [ ]:
a + 5 # penjumlahan

105

In [ ]:
a - 10 # pengurangan

90

In [ ]:
a / 5 # pembagian

20.0

In [ ]:
a * 2 # perkalian

200

In [ ]:
a**2 #pangkat

10000

In [ ]:
a**0.5

10.0

In [ ]:
a%30 #sisa

10

# Logical Operation in Python
There are 3 logical operations in python, that is:
- and '&'
- or '|'
- not

In [ ]:
True & True # You can change '&' with 'and'

True

In [ ]:
True | False # You can change '|' with 'or'

True

In [ ]:
not False & True

True

# Perbandingan atau Komparasi di Python
Terdapat 8 jenis di python:
- equal ```==```
- not equal ```!=```
- is
- is not
- greater than ```>```
- less than ```<```
- greater or equal ```>=```
- less or equal ```<=```

In [ ]:
2 == 2 # equal/mirip dengan

True

In [ ]:
2 != 2 # not equal/tidak mirip dengan

False

In [ ]:
2 is 2.0 # object identity

False

In [ ]:
2 is 3 # negated object identity

False

In [ ]:
2 > 3 # greater than

False

In [ ]:
2 < 3 # less than

True

In [ ]:
2 >= 3 # greater or equal

False

In [ ]:
2 <= 3 # less or equal

True

In [ ]:
round(0.1+0.2,1) == 0.3

True

In [ ]:
1 + 2 == 3

True

## String Comparison
Kita dapat membandingkan string.

In [ ]:
'a' > 'b'

False

In [ ]:
'a' > 'A'

True

In [ ]:
ord('a') # Change a character to ASCII value

97

In [ ]:
ord('b')

98

In [ ]:
ord('A')

65

In [ ]:
chr(98) # Ubah nilai ASCII menjadi karakter

'b'

# Operasi pada String

In [ ]:
a = "NaNa"
print(a)

NaNa

In [ ]:
a*3 # repetition (repetisi)

'NaNaNaNaNaNa'

In [ ]:
a*10 + ' Batman' # concatenation (penggabungan)

'NaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNaNa Batman'

In [ ]:
b = "Batman"
b[-1] # Slicing (pemotongan)

'n'

In [ ]:
b[0:-1] # Delete one character

'Batma'

In [ ]:
b[::-1] # Reversing

'namtaB'

In [ ]:
b[-2] # Indexing

'a'

In [ ]:
4 in x # Searching (pencarian)

False

In [ ]:
x

[1, 2, 3]

In [ ]:
len(x) # panjang karakter/string

3

# List
- Susunan dari data
- Data dapat disimpan dalam berbagai tipe
- *List* bersifat *mutable*
- Memiliki operasi yang sama sebagaimana *string*

## Operasi pada List

In [ ]:
a = [1,2,3]
b = [4,5]

In [ ]:
b + a # concatenation (penggabungan)

[4, 5, 1, 2, 3]

In [ ]:
a * 3 # repetition (repetisi)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
a[1:3] # slicing (pemotongan)

[2, 3]

In [ ]:
len(a) # Ukuran list

3

In [ ]:
a[2] #Indexing

3

In [ ]:
5 in a #Searching

True

In [ ]:
c = [1,"lion",True,1.0] # Multiple data type in 1 list
print(c)

[1, 'lion', True, 1.0]

In [ ]:
d = [3,2,1,0]
d.sort() # Sorting
d

[3, 2, 1, 0]

In [ ]:
d

[0, 1, 2, 3]

In [ ]:
d[2]=3

## Modifikasi Isi dalam List
- ```x[i] = a``` berarti memasukkan nilai ```a``` ke dalam elemen ke-```i```
- Karena x dan y memiliki id yang sama, keduanya pun berubah nilai
- Metode ```append``` juga mengubah isi dari list

In [ ]:
x = [3,10,1]
y = x

In [ ]:
y

[3, 10, 1]

In [ ]:
x[1] = 20
x

[3, 20, 1]

In [ ]:
y

[3, 20, 1]

In [ ]:
x.append(12) #Appending
x

[3, 20, 1, 12]

In [ ]:
y.copy()

[3, 20, 1, 12]

In [ ]:
y.pop(2) #deleting
y

[3, 20, 12]

In [ ]:
y.pop()
y

[3, 20]

In [ ]:
x

[3, 20]

In [ ]:
y = x.copy()

In [ ]:
x

[3, 20, 2]

In [ ]:
y

[3, 20]

Kita dapat melihat 'posisi' objek di dalam memori menggunakan fungsi ```id()```.

In [ ]:
id(x) # id of x

139900752192608

In [ ]:
id(y) # id of y

## Try with String!

In [ ]:
a = 'Batman'
b = a

In [ ]:
print("id of a is: ", id(a))
print("id of b is: ", id(b))

id of a is:  139900752647728
id of b is:  139900752647728

In [ ]:
a = "I'm " + a

In [ ]:
a

In [ ]:
b

Conclusion:

## Beberapa Method dalam List

```extend``` berfungsi untuk memasukkan list baru ke dalam *list* yang sudah ada

In [ ]:
x = [2,10.05,9,7,3,11]
print(x)

[2, 10.05, 9, 7, 3, 11]

In [ ]:
x.extend([4]) # Extending list
x

[2, 10.05, 9, 7, 3, 11, 4, 4, 4]

```count``` berfungsi untuk menghitung objek tertentu di dalam *list*

In [ ]:
x.count(4) # Counting (menghitung)

3

```append``` berfungsi untuk memasukkan nilai ke bagian akhir dari *list*

In [ ]:
x.append([5,10,11,100])
print(x)

[2, 10.05, 9, 7, 3, 11, 4, 4, 4, [5, 10, 11, 100]]

```index``` berfungsi untuk mencari indeks dari suatu nilai di dalam *list*

In [ ]:
x.index(3)

4

```insert``` berfungsi untuk memasukkan nilai ke dalam *list* berdasarkan indeks yang ingin dimasukkan nilai

In [ ]:
x.insert(4,100)
x

[2, 10.05, 9, 7, 100, 3, 11, 4, 4, 4, [5, 10, 11, 100]]

```pop``` berfungsi untuk menghapus nilai yang ada di *list*

In [ ]:
x.pop() # tanpa indeks
print(x)

[2, 10.05, 9, 7, 100, 3, 11, 4, 4, 4]

In [ ]:
x.pop(3) # dengan indeks
print(x)

[2, 10.05, 9, 100, 3, 11, 4, 4, 4]

```remove``` berfungsi untuk data berdasarkan nilai

In [ ]:
x.remove(2)
print(x)

ValueError: ignored

```sort``` berfungsi untuk mengurutkan data di dalam *list*

In [ ]:
x.sort()
print(x)

[2, 3, 9, 10.05, 11, 100]

```reverse``` berfungsi untuk membalikkan nilai di dalam *list*

In [ ]:
x.reverse()
print(x)

[100, 11, 10.05, 9, 3, 2]

# Tuple
- Bentuk *immutable* dari *list*
- Lebih cepat dibanding *list*

In [ ]:
x = (1,2,3,4,3)
x

(1, 2, 3, 4, 3)

In [ ]:
# cara lain membentuk tupple
y = 1,2,3,4,5,6
y

(1, 2, 3, 4, 5, 6)

In [ ]:
# error
x[2] = 10

TypeError: ignored

## Beberapa Method dalam Tuple

```count``` berfungsi untuk menghitung objek di dalam *tuple*

In [ ]:
x.count(3) # Counting

2

In [ ]:
x[2] # Indexing

3

In [ ]:
x

(1, 2, 3, 4, 3)

In [ ]:
a,b,c,d,e = x
print("nilai dari a: ", a)
print("nilai dari b: ", b)
print("nilai dari c: ", c)
print("nilai dari d: ", d)
print("nilai dari e: ", e)

nilai dari a:  1
nilai dari b:  2
nilai dari c:  3
nilai dari d:  4
nilai dari e:  3

In [ ]:
print(b)

2

# Dictionaries
- Sehimpunan pasangan kunci-nilai (*key-value pairs*)
- Bersifat *mutable*

In [ ]:
d = {1: "tes", "dua": 2, "foo": [1,2,3]}
d

{1: 'tes', 'dua': 2, 'foo': [1, 2, 3]}

In [ ]:
d[1] # mengambil nilai pada kunci 1

'tes'

In [ ]:
d['dua'] # mengambil nilai pada kunci 'dua'

2

In [ ]:
d[2] # Error

KeyError: ignored

In [ ]:
d.get('foo') # Cara lain memperoleh nilai menggunakan kunci

[1, 2, 3]

In [ ]:
y = {1:2,1:'one'} # Kunci tidak boleh lebih dari 1 atau ada yang sama
y

In [ ]:
d[1] = 99 # mengubah nilai berdasarkan key 1 dengan nilai 99
d

{1: 99, 'dua': 2, 'foo': [1, 2, 3]}

In [ ]:
del(d[1]) # menghapus key 1
d

{'dua': 2, 'foo': [1, 2, 3]}

In [ ]:
d.pop('dua')

2

In [ ]:
d

{'foo': [1, 2, 3]}

# Conditional Statement (If - Then)
Sintaks
```python
if kondisi:
		statement
```

In [ ]:
number = 9
if number >=10:
    print("true")

In [ ]:
# Hati-hati dengan whitespace!
if number >=0:
    print("false")

# Conditional Statement (If - Else)
Sintaks
```python
if kondisi:
    statement1
else: 
    statement2
```

In [ ]:
number = -5
if number >=0:
    print("true")
else:
    print("false")

# Conditional Statement (If  Else If - else)
Sintaks
```python
if kondisi_1:
		statement1
elif kondisi_2: 
		statement2
else: 
		statement3
```

In [ ]:
number = 0
if number >0:
    print("Great than zero")
elif number<0:
    print("Less than zero")
else:
    print("Equal zero")

# Looping
Ada dua jenis *loop* di Python:
- For-Loop
- While-Loop

## For-Loop
Sintaks
```python
for i in iterable:
	statement
    
```

In [ ]:
for i in [0,1,2,3,4]: # Loop menggunakan list
     print(i)

In [ ]:
for i in range(5): # Loop menggunakan range
    print(i)

***
## Trivia - Bagaimana range() bekerja?
Salah satu cara membuat objek *list* adalah menggunakan ```range()```.

In [ ]:
list(range(5)) # Berhenti di 5-1

In [ ]:
list(range(2,5)) # Mulai dari 2 dan berhenti di 5-1

In [ ]:
list(range(2,10,2)) # Mulai dari 2 dan berhenti di 10-1 dengan selisih 2

---

In [ ]:
for i in ['A','B','C']: # Loop menggunakan list dari string
    print(i)

In [ ]:
for i in 'Math': # Loop menggunakan string
    print(i)

## While-Loop
Sintaks
```python
while condition:
     	 statement
```

In [ ]:
a = 0
# jalankan selama a nilainya kurang dari 6
while a<6:
    print(a)
    a = a + 1

# Loop Control Flow
KIta dapat mengatur loop dengan menggunakan *statement* berikut:
- Break: Menghentikan iterasi jika kondisi terpenuhi.
- Pass: Menyisipkan statement jika kondisi terpenuhi.
- Continue: Melompati iterasi jika kondisi terpenuhi.

In [ ]:
iter = [1,2,3,4] # menggunakan break
for i in iter:
    print(i)
    if i == 3:
        print('stop')
        break

In [ ]:
for i in iter: # Menggunakan pass
    print(i)
    if i == 3:
        print("passing")
        pass

In [ ]:
for letter in "Python": # menggunakan continue
    if letter == "h":
        print("Continue")
        continue
    print(letter)

# Function (Basic)

- Sebarisan instruksi untuk menjalankan suatu tugas.
- *Building block of code*.

In [ ]:
def penjumlahan(a,b): # mendefinisikan sebuah fungsi 'penjumlahan' dengan return
    return a+b

In [ ]:
penjumlahan(a = 1,b = 2)

In [ ]:
result = penjumlahan(4,5) # memasukkan nilai ke dalam variabel
result

In [ ]:
def pengurangan(a,b=1): # Mendefinisikan fungsi dengan nilai awal b = 1
    return a-b

pengurangan(10,20)

In [ ]:
def pangkat(a,b): # Mendefinisikan fungsi tanpa return
    a**b
    
pangkat(2,3)

In [ ]:
a = pangkat(2,3)
print(a)

# Built-In Function
Python memiliki fungsi bawaan:

![Python Built-In Function](images/python-built-in-function.png)

Klik [link](https://docs.python.org/3/library/functions.html) berikut untuk mempelajari lebih jauh contoh atau informasi lainnya.

In [ ]:
abs(-1) # Nilai absolut

In [ ]:
max([1,2,10,9,100]) # cari nilai maksimum

In [ ]:
min([1,-10,2,-20]) # Cari nilai value

In [ ]:
eval('1 + 2')  # Evaluasi kode dalam kode <- codeception :v

In [ ]:
bool(1) # type casting

In [ ]:
list(zip([1,2,3],[4,5,6]))