In [ ]:
#RUNGE-KUTTA

def f(t,y):
  return y**2/(1+t)

h = 0.05
w0 = -1.442695
i = 0

while i <= 19:
  t0 = 1 + i*h
  k1 = h*f(t0,w0)
  k2 = h*f(t0 + h/2, w0 + (1/2)*k1)
  k3 = h*f(t0 + h/2, w0 + (1/2)*k2)
  k4 = h*f(t0 + h, w0 + k3)
  w1 = w0 + (1/6)*(k1 + 2*k2 + 2*k3 + k4)
  
  print(w1)
  i = i + 1
  w0 = w1

-1.3930684559301993
-1.3478226697889235
-1.3063905735093035
-1.2682993704516727
-1.233151699424153
-1.2006111437046632
-1.170390958786263
-1.142245214334092
-1.1159617677541964
-1.0913566421162968
-1.0682694914177382
-1.0465599154167504
-1.0261044438945939
-1.0067940525836554
-0.9885321044801196
-0.9712326338719584
-0.9548189082823952
-0.9392222171668236
-0.9243808466923301
-0.910239208060081

In [ ]:
#2-STEPS ADAM BASHFORTH

def f(t,y):
  return y**2/(1+t)

h = 0.1
w0 = -1.442695
w1 = -1.3478226391962873
i = 1

while i <= 9:
  t0 = 1 + h*i
  t1 = 1 + h*(i-1)
  w = w1 + (h/2)*(3*f(t0,w1)-f(t1,w0))
  print(w)
  i = i + 1
  w0 = w1
  w1 = w

-1.270097870291195
-1.2033634625645853
-1.1455856944641711
-1.095042861765751
-1.05043670010619
-1.0107603893576966
-0.9752223651404152
-0.9431919896327242
-0.9141608112588422

In [ ]:
#3-STEP ADAM BASHFORTH

def f(t,y):
  return y**2/(1+t)

h = 0.1
w0 = -1.442695
w1 = -1.3478226391962873
w2 = -1.2682993235365434
i = 2

while i <= 9:
  t0 = 1 + h*i
  t1 = 1 + h*(i-1)
  t2 = 1 + h*(i-2)
  w = w2 + (h/12)*(23*f(t0,w2)-16*f(t1,w1)+5*f(t2,w0))
  print(w)
  i = i + 1
  w0 = w1
  w1 = w2
  w2 = w

-1.2001370811713516
-1.1415553886871015
-1.0905162288312524
-1.0456464960773513
-1.0058462746177574
-0.9702763345522716
-0.9382725404394694
-0.9093053612504987

In [ ]:
#4-STEP ADAM BASHFORTH

def f(t,y):
  return y**2/(1+t)

h = 0.1
w0 = -1.442695
w1 = -1.3478226391962873
w2 = -1.2682993235365434
w3 = -1.200611088483845
i = 3

while i <= 9:
  t0 = 1 + h*i
  t1 = 1 + h*(i-1)
  t2 = 1 + h*(i-2)
  t3 = 1 + h*(i-3)
  w = w3 + (h/24)*(55*f(t0,w3)-59*f(t1,w2)+37*f(t2,w1)-9*f(t3,w0))
  print(w)
  i = i + 1
  w0 = w1
  w1 = w2
  w2 = w3
  w3 = w

-1.1423959033182296
-1.0915669010212328
-1.0468222331607637
-1.0070696812249715
-0.9715163008054748
-0.9395037564958622
-0.9105163759880239

In [ ]:
#5-STEP ADAM BASHFORTH

def f(t,y):
  return y**2/(1+t)

h = 0.1
w0 = -1.442695
w1 = -1.3478226391962873
w2 = -1.2682993235365434
w3 = -1.200611088483845
w4 = -1.1422451553838695
i = 4

while i <= 9:
  t0 = 1 + h*i
  t1 = 1 + h*(i-1)
  t2 = 1 + h*(i-2)
  t3 = 1 + h*(i-3)
  t4 = 1 + h*(i-4)
  w = w4 + (h/720)*(1901*f(t0,w4)-2774*f(t1,w3)+2616*f(t2,w2)-1274*f(t3,w1)+251*f(t4,w0))
  print(w)
  i = i + 1
  w0 = w1
  w1 = w2
  w2 = w3
  w3 = w4
  w4 = w

-1.0913017299396273
-1.0464860282538253
-1.0066984191987107
-0.971138510540904
-0.9391234087847118
-0.9101442069520597

In [ ]:
def f(t,y):
  return 1 + y/t + (y/t)**2

h = 0.2
i = 2
t0 = 1 + i*h
w0 = 0.48968416644336515
k1 = h*f(t0,w0)
k2 = h*f(t0 + h/2, w0 + (1/2)*k1)
k3 = h*f(t0 + h/2, w0 + (1/2)*k2)
k4 = h*f(t0 + h, w0 + k3)

w1 = w0 + (1/6)*(k1 + 2*k2 + 2*k3 + k4)

print(k1)
print(k2)
print(k3)
print(k4)
print(w1)

0.2944233077434739
0.3209760014584444
0.3242650753533138
0.3535025121168809
0.8127521620240103

In [ ]:
def f(t,y):
  return y**2/(1+t)

h = 0.1
w0 = -1.442695
w1 = -1.3774561

i = 1

for i in range(9):
  t_i = 1 + h*i
  t_j = 1 + h*(i-1)
  w = w1 + (h/2)*(3*f(t_i,w1)-f(t_j,w0))
  print(w)
  i = i + 1
  w0 = w1
  w1 = w

-1.2899250667594067
-1.218509222455497
-1.1568920895817096
-1.10334983110541
-1.0563591651002093
-1.0147675849962436
-0.9776766372739655
-0.9443767173598147
-0.914300134602144

In [ ]:
w0 = -1.442695
w1 = -1.3774561
w2 = -1.3205682
w3 = -1.2704687
w4 = -1.2259662